In [1]:
import pandas as pd

In [2]:
abf = pd.read_csv("../Data/account_based_features.csv")
abf.head()

,User ID,User Name,Followers,Following,Follower/Following Ratio,Total Status,Retweet Count,Total Favourites
0,id2927553798,007Robinkoshy,91,151,0.603,1139,319,576
1,id871286605813645315,0ddhawk,773,305,2.534,990,664,2777
2,id929819883273183234,0xD4ni,247,116,2.129,1455,131,733
3,id2842876486,0xdeadpool,975,238,4.097,981,850,2877
4,id303948032,0xdeeraf,298,1383,0.215,1539,1199,2756

In [3]:
df = abf[['User ID', 'Follower/Following Ratio']]
df

                   User ID  Follower/Following Ratio
0             id2927553798                     0.603
1     id871286605813645315                     2.534
2     id929819883273183234                     2.129
3             id2842876486                     4.097
4              id303948032                     0.215
...                    ...                       ...
7442           id954614844                     0.951
7443            id96715726                     2.255
7444          id2413244948                     1.624
7445          id2655609302                    17.500
7446           id138699724                     1.521

[7447 rows x 2 columns]

In [8]:
df.describe()

       Follower/Following Ratio
count              7.447000e+03
mean               6.228707e+03
std                2.729202e+05
min                0.000000e+00
25%                7.995000e-01
50%                1.971000e+00
75%                1.660450e+01
max                2.287104e+07

In [5]:
df = df.sort_values(by=['Follower/Following Ratio'], ascending=False)

In [15]:
initial_set = df[df['Follower/Following Ratio'] >= 6.228707e+03]

In [16]:
initial_set.reset_index()

     index                User ID  Follower/Following Ratio
0     2022             id22940219              2.287104e+07
1     7345             id60054156              4.115651e+06
2       47  id1054151922553212929              2.242886e+06
3     2717            id120990817              2.065921e+06
4     4102            id409486555              1.369757e+06
..     ...                    ...                       ...
207   6970            id106597684              6.664383e+03
208   4344   id734952614454951936              6.578000e+03
209   2234             id43665824              6.507000e+03
210   4861           id1319554081              6.304486e+03
211   1770            id186202772              6.258638e+03

[212 rows x 3 columns]